/*=========MEDIA QUERIES (Adicionar breakpoints, deixar responsivo)==============*/

/*extra large devices: 1200>*/
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .image img {
    right: 0;
  }

  #home .image::before {
    left: 16.8%;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
    margin-left: 0;
    padding-right: 4rem;
  }

  #home a {
    display: inline-block;
    text-align: center;
  }

  #home a.button {
    width: 13.625rem;
    padding: 1rem;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .cards {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container header {
    max-width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/*large devices: 1023>*/
@media (min-width: 1023px) and (max-width: 1199px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0;
  }

  .section header {
    max-width: 24rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .image img {
    right: 0;
  }

  #home .image::before {
    left: 20%;
  }

  #home .text {
    order: 0;
    max-width: 18rem;
    text-align: left;
  }

  #home .button {
    padding: 0 1rem;
    align-items: center;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #about .image::before {
    height: 97%;
    left: -16%;
  }

  #about .text {
    max-width: 18rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 18rem;
  }

  footer.section {
    padding: 3.25rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/*medium devices: 992> */

@media (min-width: 992px) and (max-width: 1023px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 5rem 0;
  }

  .section header {
    max-width: 20rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .image img {
    right: 0;
  }

  #home .image::before {
    width: 100%;
    left: 16.8%;
    top: -18%;
  }

  #home .text {
    order: 0;
    max-width: 14rem;
    text-align: left;
    margin-left: 0;
  }

  #home a .button {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
  }

  #about .image::before {
    width: 100%;
    height: 100%;
    top: -19%;
    left: -16%;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #about .text {
    max-width: 18rem;
    text-align: center;
  }

  #services header {
    max-width: 24rem;
  }

  #testimonials .container header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 18rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/*small devices: 767> Tablets*/
@media (min-width: 767px) and (max-width: 991px) {
  .section {
    padding: calc(2rem + var(--header-height)) 0;
  }

  #home .image {
    order: 1;
  }

  #home .image img {
    right: 0;
  }

  #home .image::before {
    top: -10%;
  }

  #home .text {
    order: 0;
    margin-bottom: 4rem;
  }

  #about .text,
  #services header,
  #testimonials header {
    text-align: center;
  }
}
